{% block content %}
  {{ pref_label.name.value }}<hr/>
  {% for property in properties %}
    &lt;{{ property.p.value }}&gt; 
    {% if property.o.type == 'uri' and property.p.value != 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type' %}
      <a href="{% url 'votedb:detail' property.o.value %}">{{ property.o.value }}</a>
    {% else %}
      {{ property.o.value }}
    {% endif %}
    {% if property.o.keys.0 == 'xml:lang' %}
      ({{property.o.values.0}})
    {% endif %}
    <br/>
  {% endfor %}
{% endblock %}
