{% block content %}
  {{ pref_label.name.value }}<hr/>
  Language Equivalents:<br/>
  {% for label in pref_labels %}
    {{ label.name.value }}
    {% if label.name.keys.0 == 'xml:lang' %}
      ({{label.name.values.0}})
    {% endif %}
    <br/>
  {% endfor %}
  <br/>
  Vote Record Counts:</br>
  {% for vote in vote_records %}
    {{ vote.vc.value }}: {{vote.totalVotes.value}}<br/>
  {% endfor %}
  <a href="{% url 'votedb:by_member' request.path|cut:"/votedb/memberstate/" %}">Show Vote Records</a>
{% endblock %}
