{% extends 'base.html' %}
{% block content %}
<div class="container">
  {% include 'v2/votedb.html' %}
  <div class="row">
    <div class="col-md-12">
      <h2>{{ request.GET.aspect|capfirst }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <ul class="list-group">
        {% for res in results.object_list %}
          <li class="list-group-item">
            <a href="{% url 'v2:select' %}?uri={{ res.x.value }}&type={{ children }}">{{res.pref_label}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="pagination">
    {{ results.render }}
  </div>
</div>
{% endblock %}
