{% extends 'base.html' %}


{% block content %}
<div class="container">
  {% include "v2/votedb.html" %}
  <div class="row">
    <div class="col-md-12">
      <h2>{{ pref_label }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- translate this -->
        <div class="panel-heading">Language Equivalents:</div>
        <ul class="list-group">
          {% for label in all_labels %}
            <li class="list-group-item">
            {{ label.label.value }}
            {% if label.label.keys.0 == 'xml:lang' %}
              ({{label.label.values.0}})
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Voter in the following Session(s)</div>
        <ul class="list-group">
          {% for res in results %}
            {% for r in res.set %}
              {% if r.member_sessions %}
                <li class="list-group-item">
                  {{r.pref_label}} ({{r.count.value}})
                  [<a href="{% url 'v2:select' %}?uri={{r.member_sessions.value}}&type=session">Show session</a>]
                </li> 
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Voter statistics for all Sessions</div>
        <ul class="list-group">
          {% for res in results %}
            {% for r in res.set %}
              {% if r.member_vote_records %}
                <li class="list-group-item">{{ r.member_vote_records.value }}: {{ r.count.value }}</li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div><!-- panel -->
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->
{% endblock %}
