{% extends 'base.html' %}
{% block content %}
<div class="container">
	{% include 'thesaurus/thesaurus.html' %}
  <div class="row">
    <div class="col-md-12">
			<h2>Browsing by {{ aspect|capfirst }}</h2>
			{% for res in results.object_list %}
			  {% if target == 'classes' %}
					<a href="{% url 'thesaurus:index' %}?aspect={{res.pref_label}}">{{ res.pref_label }}</a><br/>
				{% elif target == 'instances' %}
					<a href="{% url 'thesaurus:term' %}?uri={{res.x.value}}">{{ res.pref_label }}</a><br/>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div id="paginatoin">
		{{ results.render }}
	</div>
</div>

{% endblock %}