	<script>
	$(function() {
		var test = ["probe", "examine", "try", "attempt"];
		$('#q').autocomplete({
			source: function(request, response) {
				$.getJSON("{% url 'thesaurus:autocomplete' %}?q=" + request.term, function(data) {
					response(data);
				});
			},
			select: function(event, ui) {
				window.location = "{% url 'thesaurus:term' %}?uri=" + ui.item.url;
			}
		});
	});
	</script>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="{% url 'thesaurus:index' %}?aspect=categories">Browse Categories</a></li>
  <li role="presentation"><a href="{% url 'thesaurus:index' %}?aspect=alphabetical">Browse Alphabetical</a></li>
  <li role="presentation"><a href="{% url 'thesaurus:index' %}?aspect=by_type">Browse By Type</a></li>
	<form class="navbar-form navbar-right" role="search" method="get" action="{% url 'thesaurus:search' %}">
		<input type="text" class="form-control" id="q" name="q">
		<button type="submit" class="btn btn-default" value="Search">Search</button>
	</form>
</ul>
